<!DOCTYPE html>
<html>
  <head>
    <title>NNPTUD-S5</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to NNPTUD-S5</h1>
    <p>Express API Server</p>
    
    <h2>Available APIs:</h2>
    <ul>
      <li><a href="/products">Products API</a></li>
      <li><a href="/categories">Categories API</a></li>
      <li><a href="/comments">Comments API</a></li>
      <li><a href="/users">Users API</a></li>
    </ul>
  </body>
</html>